<%= stylesheet_link_tag 'jqplot/jquery.jqplot' %>
<%= javascript_include_tag "jqplot/jquery.min" %>
<%= javascript_include_tag "jqplot/jquery.jqplot.min" %>
<%= javascript_include_tag "jqplot/plugins/jqplot.highlighter.min" %>
<%= javascript_include_tag "jqplot/plugins/jqplot.cursor.min" %>
<%= javascript_include_tag "jqplot/plugins/jqplot.dateAxisRenderer.min" %>

<h1>Welcome!</h1>

<p>here are the graphs for
<ul>
  <li>property listings</li>
  <li>average price for units, houses, invetment properties (each by rooms)</li>
</ul>
</p>

<p>create a new query here</p>
<p>and here are your saved queries</p>

