<h3>List Queries</h3>

<%= link_to 'create new query', new_query_url %>
<p> <%= flash[:notice] %> </p>
<ul>
<% @queries.each do | query | %>
      <li><%= query.inspect %> - <%= link_to 'execute', execute_url(query.id) %> |
                                 <%= link_to 'edit', edit_query_url(query.id) %> |
                                 <%= link_to 'delete', query_url(query.id), :method=>:delete %></li>
<% end %>
</ul>