<!DOCTYPE html>
<html>
<head>
  <title>Reinfo</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

|| <%= link_to 'Home', root_url %> |
<%= link_to 'Queries', queries_url %> ||
<%= link_to 'Flot', flot_chats_url %> |
<%= link_to 'JqPlot', jqplot_charts_url %> |
<%= link_to 'GoogleCharts', google_charts_url %>

<%= yield %>

</body>
</html>
